.test-sidebar-menu-container {
  margin-top: 20px;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
}

.test-sidebar-container {
  left: 0;
  position: absolute;
  display: flex;
  align-items: center;
  z-index: 100;
  transition: 0.5s;
}

.test-sidebar-content {
  max-width: 435px;
  width: 435px;
  height: 100vh;
  background: #2973B2;
  display: flex; 
  flex-direction: column;
}

.test-footer {
  width: 100%;
  height: 68px;
  background-color: #2973B2;
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.test-footer-text {
  font-size: 32px;
  color: #F2EFE7;
  overflow: hidden;
}

.test-sideber-close-scope {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
}

.test-container {
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255,0);
  /* background-color: #F2EFE7; */
  /* background-image: url("../../../assets/test-icon/coooms-background.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; */
  display: flex;
  justify-content: center;
  align-items: end;
}
.audio-visualizer-container {
  width: 100%;
  height: 100%;
  position:absolute;
  z-index: 10;
}

.audio-visualizer {
  width: 100%;
  height: 100%;
}

.title-container {
  margin-top: 40px;
  position: absolute;
  z-index: 10;
  top: 0;
}

.title {
  font-size: 80px;
  color: #F2EFE7;
  text-shadow:
    3px 3px 2px #48A6A7,
    -3px 3px 2px #48A6A7,
    -3px -3px 0 #48A6A7,
    3px -3px 0 #48A6A7;
}

.audio-volume-container {
  margin-bottom: 10px;
  margin-right: 40px;
  position: absolute;
  z-index: 10;
  right: 0;
}

.audio-volume-slider {
  margin-bottom: 100px;
  width: 200px;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  height: 14px;
  border: 3px solid #48A6A7;
  border-radius: 10px;
  transform: rotate(-90deg);
  box-shadow: 2px 3px 4px 0px rgba(0, 0, 0, 0.4);
}

.audio-volume-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 25px;
  width: 25px;
  border: 3px solid #48A6A7;
  border-radius: 50%;
  background-color: #FFFFFF;
}

.audio-select-container {
  padding: 10px;
  display: flex;
  position:absolute;
  z-index: 10;
}

.audio-select-button {
  margin: 20px;
  width: 100px;
  height: 100px;
  background-color: #F2EFE7;
  border-radius: 50%;
  border: 3px solid #48A6A7;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 2px 4px 9px 0px rgba(0, 0, 0, 0.4);
}

.audio-select-button:hover {
  margin: 18px;
  border: 5px solid #48A6A7;
}

.audio-select-icon {
  width: 50px;
  height: 50px;
}

.audio-play-icon {
  width: 50px;
  height: 50px;
}

.audio-stop-icon {
  margin-left: 5px;
  width: 50px;
  height: 50px;
}
