.opening-icon-container {
  width: 100vw;
  height: 100vh;
  position:absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.opening-container {
  width: 100vw;
  height: 100vh;
  background-color: #F2EFE7;
}

.opening-title-text{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding-left: 50px; */
}

.opening-title {
  font-size: 120px;
  font-family: 'Lalezar';
  color: #48A6A7;
}

.opening-cloud1 {
  position: absolute;
  left: 0;
  top: 0;
}
.opening-cloud2 {
  position: absolute;
  right: 0;
  top: 0;
}
.opening-cloud3 {
  width: 387px;
  height: 296px;
  position: absolute;
  left: 0;
  bottom: 0;
}
.opening-cloud4 {
  width: 424px;
  height: 296px;
  position: absolute;
  right: 0;
  bottom: 0;
}

@media screen and (max-width: 500px) {
  .opening-title {
    font-size: 60px;
  }
  .opening-icon {
    width: 40px;
    height: 40px;
  }
}