.audio-player-container {
  height: 40%;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
}

.audio-volume-container {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.audio-volume-slider {
  margin-bottom: 100px;
  width: 200px;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  /* background: #C4C5D3; */
  height: 14px;
  border-radius: 10px;
  transform: rotate(-90deg);
}

.audio-volume-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #5F6368;
}

.volume-icon {
  width: 32px;
  height: 32px;
}

.audio-play-button {
  width: 120px;
  height: 120px;
  margin-top: 50px;
  margin-left: 40px;
  margin-bottom: 40px;
  border-radius: 50%;
  border: 5px solid #C4C5D3;
  background-color: rgba(255, 255, 255, 0);
  display: flex;
  justify-content: center;
  align-items: center;
}

.audio-play-button > img {
  width: 50px;
  height: 50px;
}