*{
  margin: 0;
  padding: 0;
}

html, body {
  margin: 0;
  font-family: 'Lalezar';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  background-color: #F2EFE7;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
